.sectionAbadatAll {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: linear-gradient(to right, rgb(117, 117, 117),rgb(59, 59, 59),rgb(90, 90, 90),rgb(43, 43, 43) , rgb(94, 94, 94));
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.divhead {
    width: 40%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    direction: rtl;
    color: rgb(236, 236, 236);
}
.divhead h2 {
    padding-right: 2rem;
    font-size: 2em;
font-family: 'Courier New', Courier, monospace;
font-weight: 800;
}
.divhead p {
    padding-right: 2rem;
}
.divcontentPage {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card {
    width: 35rem;
    margin: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    background-image: linear-gradient(to right, rgb(117, 117, 117),rgb(59, 59, 59),rgb(90, 90, 90),rgb(43, 43, 43) , rgb(94, 94, 94));
color: rgb(236, 236, 236);
}
.cardimges {
    height: 180px;
    position: relative;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    z-index: 2;
}
.card-body {
    height: 100px;
    z-index: 999;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    direction: rtl;
}
.card-body h3 {
    font-size: 1.1em;
}
.card-body p {
    font-size: .9em;
}

@media (max-width:777px) {
    .sectionAbadatAll {
        flex-direction: column;
        align-items: center;
    }
    .divhead {
        width: 90%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .divcontentPage {
        width: 100%;
 
    }
}
@media (max-width:605px) {
    .card {
        width: 95%;
        margin: auto;
   padding-bottom: 6rem;
        margin-bottom: 5rem;
   
    }

}
@media (max-width:311px) {
    

.card {
    padding-bottom: 6rem;
}

}
@media (max-width:415px) {
    .card {
        padding-bottom: 10rem;
    }
}
