.seconesurha {
    background-image: url(/public/imges/sqare.webp);
    background-repeat: repeat;
  padding-bottom: 5rem;
color: white;
padding-top: 5rem;
height: 100%;
}
.honebasmala {
    text-align: center;
padding-bottom: 1.5rem;
padding-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
@media   (max-width:381px) {
    .honebasmala {
     font-size: 1.3em;
    }
}
@media   (max-width:368px) {
  .nameOfSurahss {
    font-size: .9em;
  }
  .lengthSurahs {
    font-size: .89em;
  }
}
.divdatasurha {
    width: 70%;
    margin: auto;
    height: 100%;
 text-align: center;
    direction: rtl;
 line-height: 20px;


}
.numberayahs {
       background-color: aliceblue;
       color: black;
      padding: 4px 5px 4px 5px;
       border-radius:25px ;
       -webkit-border-radius:25px ;
       -moz-border-radius:25px ;
       -ms-border-radius:25px ;
       -o-border-radius:25px ;
       font-weight: 600;
       margin-right: 5px;
       margin-left: 5px;
       background-color: rgb(58, 10, 10);
       color: rgb(212, 212, 212);
       font-family: 'Courier New', Courier, monospace;
}
.contetOfAyahs {
    display: inline-block;
    direction: ltr;
    line-height: 30px;

}