.seconesurha {
    background-image: url(/public/imges/istockphoto-1762928999-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
color: white;
padding-top: 5rem;
height: 100%;
}
.honebasmala {
    text-align: center;
    padding-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
@media   (max-width:381px) {
    .honebasmala {
     font-size: 1.3em;
    }
}
.divdatasurha {
    width: 70%;
    margin: auto;
    height: 100%;
    text-align: center;

}