
.allDivsInputs {
    height: 100%;
    width: 100%;
margin: auto;
   padding-top: 2rem;
    
}
.allDivsInputs form {
width:50%;
margin: auto;
cursor:pointer;

}
.divEachIn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    padding-bottom: 2rem;
    margin: auto;
}
.divEachIn label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.sectionRegister h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.divEachIn input {
  height: 40px;
    
}

.RowInput {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
@media (max-width:800px) {
    .RowInput {
        flex-direction: column;

    }
 

}
@media (max-width:391px) {
    .allDivsInputs form {
        width:80%;
        margin: auto;
        cursor:pointer;
        
        }
}