
.allDivsInputs {
    height: 100%;
    width: 100%;
margin: auto;
   padding-top: 2rem;
    
}
.allDivsInputs form {
width:50%;
margin: auto;
cursor:pointer;

}
.divEachIn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    padding-bottom: 2rem;
    margin: auto;
}
.divEachIn label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.sectionRegister h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.divEachIn input {
  height: 40px;
    
}

.RowInput {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
@media (max-width:800px) {
    .RowInput {
        flex-direction: column;

    }
 

}

.trueLink {
    width: 50%;
margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-bottom: 1rem;
}
.trueLink button {
    
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

@media (max-width:391px) {
    .allDivsInputs form {
        width:80%;
        margin: auto;
        cursor:pointer;
        
        }
}
.nclasinput {
    border: 2px solid red;
}
.btncon {
    
    padding: 5px 5px ;
    background-color: rgb(180, 161, 50); transition: .3s ease; -webkit-transition: .3s ease; -moz-transition: .3s ease; -ms-transition: .3s ease; -o-transition: .3s ease;
}
.btnres {
    padding: 5px 5px ;
    background-color: brown;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.btncon:hover , .btnres:hover {
    opacity: 80%;
}
@media (max-width:400px) {
    .haveAcc {

    }
    .trueLink {
        flex-direction: column;

    }
    .trueLink .btncon {
        margin-bottom: 1rem;
    }
}
.sectionConfirm {
    width: 100%;
    height: 600px;
text-align: center;
display: flex;
align-items: center;
background-image: url(/public/imges/saba.jpg);
background-size: cover;
background-repeat: no-repeat;
  
}
.sectionConfirm .divMainContent {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
}
.sectionConfirm .divMainContent h3 {
    font-size: 1.2em;
    line-height: 30px;
}
.sectionConfirm .divMainContent span {
    color: rgb(218, 215, 206);
    font-weight: 700;
}
.divBtnsR {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divBtnsR button {
    border: 0;
    padding: 5px 5px;
    border-radius:6px ;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    -ms-border-radius:6px ;
    -o-border-radius:6px ;
    font-weight: 600;
    font-size: 1.1em;
    color: white;
    background-color: rgb(63, 94, 63);
}
.sectionConfirm .divMainContent input {
  width: 80%;
  margin: auto;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 0;

}
.divBtnsRe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.divBtnsRe button {
    border: 0;
    padding: 5px 5px;
    border-radius:6px ;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    -ms-border-radius:6px ;
    -o-border-radius:6px ;
    font-weight: 600;
    font-size: 1.1em;
    color: white;
    background-color: rgb(63, 94, 63);
}
.divBtnsRe .link {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(158, 189, 190);
    
}
@media (max-width:664px) {
    

    .sectionConfirm .divMainContent {
        width: 70%;
     
    }


}
.overlay {
  
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
 text-align: center;
    
}
@media (max-width:393px) {
    

    .sectionConfirm .divMainContent {
        width: 88%;
     
    }
    .sectionConfirm .divMainContent h3 {
        font-size: 1em;
        line-height: 30px;
    }
    .sectionConfirm .divMainContent span {
        color: rgb(218, 215, 206);
        font-weight: 700;
    }

}
