.sectioOne {
 padding-top: 5rem;
    height: 670px;
 background-image: url(/public/imges/istockphoto-803625098-612x612.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 position:relative;
 background-attachment: fixed;

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content:space-around;
}
  .qeran {
    display: flex;
    justify-content: center;
    height: 200px;

  }
  .qeran img {
    width: 300px;
    object-fit: cover;
  }
  @media screen and (max-width:347px) {
    .qeran {
    
        display: flex;
        justify-content: center;
        height: 100px;
    
      }
      .qeran img {
        width: 200px;
        object-fit: cover;
      }
}

.sectioTwo {

  height:100%;
  background-color: rgb(29, 29, 29);

}
.sectioTwo h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
color: rgb(100, 90, 30);
padding-top: 2rem;
}
.btnsmain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}
.btnsmain button {
 padding: 10px 15px;
 border: none;
 font-size: 1.2em;
 border-radius:10px ;
 -webkit-border-radius:10px ;
 -moz-border-radius:10px ;
 -ms-border-radius:10px ;
 -o-border-radius:10px ;
 background-image: url(/public/imges/0152.jpg);
 color: white;
 background-repeat: no-repeat;
 background-size: cover;
}
@media (max-width:554px) {

  .btnsmain {

  width: 100%;
}
.btnsmain button {
 padding: 7px 12px;
 border: none;
 font-size:1em;

}
}
@media (max-width:360px) {
  .btnsmain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 70%;
  }
  .btnsmain button {
   padding: 10px 15px;

   font-size: 1.2em;

  }
}