.sectioOne {
 padding-top: 5rem;
    height: 670px;
 background-image: url(   /public/imges/monasb.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 position:relative;
 background-attachment: fixed;

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content:space-around;
 text-align: center;
}

  .qeran {
width: 100%;
text-align: center;
width: 90% ;

  }
  .qeran img {
   text-align: center;
    padding-left: 50px;
  }
  /* @media  (max-width:347px) {
    .qeran {
      width: 100%;
      text-align: center;
        }
        .qeran img {
         text-align: center;
          width: 50%;
          font-size: 2em;
        }
} */

@media only screen and (min-width: 322px) and (max-width: 729px)  {
 .qeran img{
  width: 90%;
 }
  }

  @media only screen and (min-width: 800px) and (max-width: 100000px)  {
    .qeran img{
     
    }
     }

  @media only screen and (min-width: 360px) and (max-width: 510px)  {
    .qeran img {
     width: 500px;
    }
     }
    
     @media only screen and (min-width: 256px) and (max-width: 384px)  {
      .qeran img {
       width: 500px;
      }
       }
       @media only screen and (min-width: 219px) and (max-width: 373px)  {
        .qeran img {
         width: 800px;
        }
         }

.sectioTwo {

  height:100%;
  background-color:  rgb(13, 20, 26);
  padding-bottom: 5rem;

}
.sectioTwo h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
color: rgb(100, 90, 30);
padding-top: 2rem;
}
.btnsmain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}
.btnsmain button {
 padding: 10px 15px;
 border: none;
 font-size: 1.2em;
 border-radius:10px ;
 -webkit-border-radius:10px ;
 -moz-border-radius:10px ;
 -ms-border-radius:10px ;
 -o-border-radius:10px ;
 background-image: url(imges/ward.avif);
 color: white;
 background-repeat: no-repeat;
 background-size: cover;
}
@media (max-width:554px) {

  .btnsmain {

  width: 100%;
}
.btnsmain button {
 padding: 7px 12px;
 border: none;
 font-size:1em;

}
}
@media (max-width:650px) {
  .btnsmain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 70%;
  }
  .btnsmain button {
   padding: 10px 15px;

   font-size: 1.2em;

  }
}

.sectionTwoElHg {
  padding-bottom: 2rem;
  padding-top: 2rem;
background-color: rgb(13, 20, 26);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.sectionTwoElHg img {
  width: 50% ;
 
  
}
.sectionTwoElHg p {
  line-height: 30px;
}
@media (max-width:568px) {
  .sectionTwoElHg img {
    width: 70% ;
    
    
  }
}
@media (max-width:400px) {
  .sectionTwoElHg p {
   font-size: .9em;
    
    
  }
}