* {
box-sizing: border-box;
}
.dropdown {    list-style: none;
    color: rgb(214, 214, 214);
    font-size: 1.5em;

}
.adaf {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.mainbav 
{
    background-color: rgb(22, 25, 27);
    position: fixed;
   width: 100%;
    z-index: 999;
   
}
.dangereioust {
    color: rgb(214, 214, 214);
    font-size: 1.4em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.linkschouse {
    font-size: 1.2em;
    color: rgb(214, 214, 214);
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.form-control {
    direction: rtl;
}
.mainheads {
    display:none;
}
.sectiosup {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.listsup  {
display: none;
}
@media (max-width:800px) {
    
    .mainheads {
        display:flex;
        flex-direction: column;
    }
    .sectiosup {
        display: none;
       
    }
    .listsup  {
        display:block;
        }
        .listmain {
            display: none;
        }

}
.space {
    padding-left: 5px;
}
.coloricon {
    color: rgb(69, 88, 17);
}
.coloricone {
    color: rgb(1, 1, 100);
}
.coloriconee {
    color: rgb(59, 19, 97);
}
.coloricones {
    color: rgb(0, 58, 0);
}
.navbar-toggler {
    border: 0;
}


.navbar-toggler {
    border: 0 ;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none ;
    box-shadow: none ;
    border: 0 ;
}


.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #f8aca3;
    display: block;
    transition: all 0.2s;
}


.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: #e1f9ff;
}
.imgList img {
    object-fit: cover;
    width: 100%;
}
.imgList {
    width: 36px;
}
.nameOfList {
    color: rgb(230, 230, 255);
}
.nameOfList:hover {
    color: blanchedalmond;
}
.nameOfList:active {
    color: blanchedalmond;
}

.forminput {
      
       
        background-color: white;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

.forminput button {
   
    padding: 5px 2px;
    border: none;
    background-color: white;
   
   width: 20%;
margin-left: 5px;
   
}
.form-control {

background-color: white;
border: none;
border: 0;

}
.ters {
    display: none;
}
.lists {
    display: inline;
}
@media (max-width:800px) {
    .ters {
        display: inline;
    }
    .lists {
        display: none;
    }
    .forminput {
        margin-top: 5px;
        width: 95%;
        margin: auto;
        background-color: white;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

.forminput button {
    width: 20%;
    padding: 5px 2px;
    border: none;
    background-color: white;
   
   
    margin: auto;
    margin-left: 5px;
}
.form-control {
width: 80%;
background-color: white;
border: none;
border: 0;
height: 40px;
}
}