* {
box-sizing: border-box;
}
.dropdown {    list-style: none;
    color: rgb(214, 214, 214);
    font-size: 1.5em;

}
.adaf {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.mainbav 
{
    background-color: rgb(22, 25, 27);
    position: fixed;
   width: 100%;
    z-index: 999;
   
}
.dangereioust {
    color: rgb(214, 214, 214);
    font-size: 1.4em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.linkschouse {
    font-size: 1.2em;
    color: rgb(214, 214, 214);
}
.form-control {
    direction: rtl;
}
.mainheads {
    display:none;
}
.sectiosup {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.listsup  {
display: none;
}
@media (max-width:800px) {
    
    .mainheads {
        display:flex;
        flex-direction: column;
    }
    .sectiosup {
        display: none;
       
    }
    .listsup  {
        display:block;
        }
        .listmain {
            display: none;
        }

}
.space {
    padding-left: 5px;
}
.coloricon {
    color: rgb(69, 88, 17);
}
.coloricone {
    color: rgb(1, 1, 100);
}
.coloriconee {
    color: rgb(59, 19, 97);
}
.coloricones {
    color: rgb(0, 58, 0);
}
