
.sectionMain {

    padding-top:5rem ;
    background-image: url(/public/imges/saba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
width: 100%;
height: 120%;
display: flex;
flex-direction: column;
justify-content: center;
color: rgb(196, 196, 196);

}

.contetCard {
    width: 220px;
    margin: auto;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgb(219, 219, 219);
}
.contetCard .conImges img { object-fit: cover; width: 100%; border-radius: 10px 10px 0 0 ; -webkit-border-radius: 10px 10px 0 0 ; -moz-border-radius: 10px 10px 0 0 ; -ms-border-radius: 10px 10px 0 0 ; -o-border-radius: 10px 10px 0 0 ;
}
.contentDetails {
    width: 40%;
    margin: auto;
    text-align: center;
    display: flex;
 justify-content: center;
}

.conImges {
    height: 76%;
    margin: auto;
    overflow: hidden;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    padding-right: 0;
}
.conImges img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    overflow: hidden;
}
.contetCard p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(44, 44, 44);
    padding-top: 0;
}
.spanhighlight {
    color: white;
}
.conImges img {
    padding-right: 0;
}
.userDatas {
    width: 50%;
  margin: auto;
   margin-bottom: 3rem;
}
.divavatar {
    width: 100%;
    text-align: center;
    margin: auto;
 
}
.btnremov {
    background-color: rgb(126, 20, 20);
    border: 0;
    color: white;
    padding: 9px;
    font-weight: bold;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-right: 10px;
}
.header2prof {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: coral;
}

@media (max-width:773px) {
    .sectionMain {

    
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: column;
  
    color: white;
    }
    .userDatas {
        width: 99%;
        margin-left: 0rem;
        text-align: center;
        margin: auto;
       width: 95%;
    }
    .contentDetails {
        width: 99%;
        text-align: center;
        justify-content: center;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    .divavatar {
        width: 80%;
      margin-left: 0;
        margin: auto;
        margin-top: 3rem;
text-align: center;
margin: auto;
        margin: 0;
    }
    .btnall {
        width: 99%;
        
    }
}
@media (max-width:370px) {
    .userDatas {
        width: 99%;
       margin-left: .1px;
        text-align: center;
        width: 95%;
    }
    .btnall {
        display: flex;
        flex-direction: column;
        width: 70%;
    
        margin: auto;
    }
    .btnremov {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}
.overlaye {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.overlaye .alerte {
    width: 300px;
    border-radius: 8px;
    background-color: rgb(117, 110, 67);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    
}
.overlaye .alerte h3 {
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 5px;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.overlaye .alerte .btnalerte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 8px;
}
.btnalerte button {
    padding: 5px 10px;
    background-color: rgb(61, 44, 24);
    color: white;
    border: 0;
    font-weight: 600;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.re:hover {
    background-color: red;
    color: white;
}
.ba:hover {
    background-color: green;
    color: white;
}