* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sectionAzkaryAlle {
    padding-bottom: 5rem;
    padding-top:5rem ;
    background-image: linear-gradient(to right, rgb(58, 58, 58),rgb(32, 32, 32),rgb(41, 41, 41),rgb(41, 41, 41) , rgb(32,32, 32));

}
.sectionAzkaryAlle h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding-bottom: 2rem;
    color: rgb(221, 214, 214);
}
.contentAllDive {
    width: 98%;
    height: 100%;

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.DivOneZekre {

color: rgb(255, 255, 255);
padding-left: 10px;
padding-right: 10px;
background-image: linear-gradient(to right, rgb(36, 36, 36),rgb(31, 31, 31),rgb(26, 26, 26),rgb(19, 19, 19) , rgb(24, 24, 24));

}